Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Input Format: The first line of the input contains an email address.

Output Format: Print the company name in single line.

Example;

Input: john@google.com

Output: google

In [1]:
email = input('Enter your email address: ')
company = email.split('@')[1].split('.')[0]
print(f'Company name is: {company}')

Enter your email address: apple@yahoo.com
Company name is: yahoo

# Question 2:

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

Input Format: The first line of input contains words separated by the comma.

Output Format: Print the sorted words separated by the comma.

Example: Input: without,hello,bag,world

Output: bag,hello,without,world

In [2]:
lst=input("Enter words in comma seperated form: ").split(",")
lst.sort()
str1=','.join(lst)
print(str1)

Enter words in comma seperated form: cars,bikes,planes
bikes,cars,planes

# Question 3:¶
Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [3]:
a = {1,2,2,3,5,6,7,7}
print("Duplicates are not allowed\n",a)
b = {"abc","def","ghi"}
c=a.union(b)
print("Union will return a new set\n",c)
a.update(b)
print("Update will return a given set\n",a)
a.pop()
print("pop will return deleted element from set\n",a)
c.remove("abc")
c.discard("abc")
print("Remove function will delete the element from set if element does not exists it will error whereas discard will not throw error",c,a)
a.add("abc")
print("Add function will append values ",a)

Duplicates are not allowed
 {1, 2, 3, 5, 6, 7}
Union will return a new set
 {1, 2, 3, 'def', 5, 6, 7, 'ghi', 'abc'}
Update will return a given set
 {1, 2, 3, 'def', 5, 6, 7, 'ghi', 'abc'}
pop will return deleted element from set
 {2, 3, 'def', 5, 6, 7, 'ghi', 'abc'}
Remove function will delete the element from set if element does not exists it will error whereas discard will not throw error {1, 2, 3, 'def', 5, 6, 7, 'ghi'} {2, 3, 'def', 5, 6, 7, 'ghi', 'abc'}
Add function will append values  {2, 3, 'def', 5, 6, 7, 'ghi', 'abc'}

Question 4:¶

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format: The first line contains n-1 numbers with each number separated by a space.

Output Format: Print the missing number

Example: Input:1 2 4 6 3 7 8

Output:5 Explanation:

In the above list of numbers 5 is missing and hence 5 is the input

In [4]:
def findmissing(lst):
    lst.sort()
    sum1=0
    for i in lst:
        sum1 +=int(i)

    last=int(lst.pop())
    sum2=(last*(last+1))//2
    
    print("Missing number:",sum2-sum1)

In [9]:
lst=input("Enter number seperated by spaces").split(" ")
findmissing(lst)

Enter number seperated by spaces1 8 4 2 5 3 6 7
Missing number: 0

# Question 5:¶
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
    If the input list is
    12 24 35 24 88 120 155 88 120 155
    Then the output should be
    12 24 35 88 120 155

Explanation:
  Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:
  In one line take the elements of the list L with each element separated by a space.

Output Format:
  Print the elements of the modified list in one line with each element separated by a space.

Example:
    Input: 12 24 35 24
    Output: 12 24 35

In [15]:
l = [12,125,88,12,55,24,88,78,66,55]
D=[]
for i in l:
    if i not in D:
        D.append(i)
print("After removing all duplicate values with original order reserved\n",D)

After removing all duplicate values with original order reserved
 [12, 125, 88, 55, 24, 78, 66]